* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}


/* header */

header {
  background-color: #22777d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
header div a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
header nav{
  display: flex;
  justify-content: space-between;
}
header nav  a {
  padding-left: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
header nav a:hover {
  color: #d3e3e4;
}
 header .menu-btn{
  display: none;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  color: #ffffff;
}

/* button */
.btn {
  background-color: #22777d;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  border: 2px solid #22777d;
  font-weight: 700;
  font-size: 16px;
}
.btn:hover {
  background-color: transparent;
  color: #22777d;
  border: 2px solid #22777d;
}

/* -----------------index page--------------------- */

/* section 1 */
.banner {
  background-image: url("../image/banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 80px;
}
.banner div {
  padding-right: 560px;
}
.banner div h1 {
  color: #22777d;
  font-size: 60px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 38px;
}
.banner div h1 span {
  font-size: 20px;
  color: #22777d;
  font-weight: 400;
}
.banner div p {
  font-size: 18px;
  color: #354b4e;
  padding-bottom: 25px;
}
/* section 2 */
.about {
  background-color: #e9f2f2;
}
.about .about-wrap {
  padding: 60px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-sec1 img {
  width: 300px;
  height: auto;
}
.about-sec2 {
  padding-left: 50px;
}
.about-sec2 h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #22777d;
  font-weight: 500;
}
.about-sec2 h2 span {
  font-size: 36px;
  font-weight: 700;
}
.about-sec2 p {
  color: #354b4e;
  font-size: 18px;
  padding: 8px 0 25px;
}
/* section 3 */
.service-wrap {
  padding: 60px 80px;
}
.service-content {
  padding-bottom: 20px;
}
.service-content h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #22777d;
  font-weight: 500;
  text-align: center;
}
.service-content h2 span {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 40px;
}
.service-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-images .ser {
  background-color: #e9f2f2;
  padding: 15px;
  margin: 10px;
  border: 1px solid #d3e3e4;
  display: flex;
  align-items: center;
}
.service-images .ser:hover {
  background-color: #d3e3e4;
  border: 1px solid #e9f2f2;
}
.service-images .ser div {
  text-align: start;
  padding-left: 20px;
}
.service-images .ser div h3 {
  color: #22777d;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.service-images .ser div p {
  color: #354b4e;
  font-size: 15px;
}
/* Section 4 */
.contact{
  background-color: #22777d;
}
.contact-wrap {
  padding: 60px 80px;
  text-align: center;
}
.contact-sec1 iframe{
  width: 450px;
  height: 350px;
}
.contact-wrap h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #d3e3e4;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}
.contact-wrap h2 span {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 40px;
}

.contact-sec2{
  padding: 10px;
  width: 60%;
  margin: 0 auto;
}
.contact-sec2 input,
.contact-sec2 textarea{
  color: #4e5050;
  font-size: 12px;
  padding: 10px 0;
  width: 100%;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border: 2px solid #3a6063;
  border-radius: 5px;
  outline: none;
}
.contact-sec2 textarea{
  margin-bottom: 30px;
}
.btn1 {
  background-color: #ffffff;
  color: #22777d;
  border-radius: 50px;
  padding: 10px 10px;
  border: 2px solid #ffffff;
  font-weight: 700;
}
.btn1:hover {
  background-color: #22777d;
  color: #ffffff;
  border: 2px solid #ffffff;
}
footer {
  background-color: #d3e3e4;
}
.footer-sec1 a {
  color: #22777d;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
.footer-sec1 {
  text-align: center;
  padding: 40px 80px 40px;
}

.footer-sec1 p {
  color: #354b4e;
  font-size: 15px;
  padding: 10px 0 0;
}
.footer-sec1 .icon{
  display: flex;
  justify-content: center;
}
.footer-sec1 .icon a i{
  padding: 15px;
  font-size: 20px;
  color: #22777d;
}
.footer-sec2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22777d;
  padding: 10px 80px;
}
.footer-sec2 div{
  color: #ffffff;
}
.footer-sec2 .footer-nav ul {
  display: flex;
  justify-content: space-between;
}
.footer-sec2 .footer-nav ul li a {
  padding-left: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.footer-sec2 .footer-nav ul li a:hover {
  color: #d3e3e4;
}
.footer-sec2{
  justify-content: center;
}
/* laptop */
@media only screen and (min-device-width:992px) and (max-device-width:1200px){
  /* header */
  header {
    padding: 20px 60px;
  }
  header div a {
    font-size: 30px;
  }
  header nav  a {
    padding-left: 20px;
    font-size: 15px;
  }
   header .menu-btn{
    font-size: 20px;
  }
  /* section 1 */
  .banner {
    padding: 100px 60px;
  }
  .banner div {
    padding-right: 362px;
  }
  .banner div h1 {
    font-size: 48px;
    line-height: 38px;
  }
  .banner div h1 span {
    font-size: 18px;
  }
  .banner div p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  /* button */
  .btn {
    padding: 8px 16px;
    font-size: 16px;
  }
  /* ABOUT */

.about .about-wrap {
  padding: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-sec1 img {
  width: 280px;
  height: auto;
}
.about-sec2 {
  padding-left: 50px;
}
.about-sec2 h2 {
  font-size: 18px;
}
.about-sec2 h2 span {
  font-size: 30px;
}
.about-sec2 p {
  font-size: 16px;
  padding: 8px 0 20px;
}
/* Service */

.service-wrap {
  padding: 60px 80px;
}
.service-content {
  padding-bottom: 20px;
}
.service-content h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.service-content h2 span {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 40px;
}
.service-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.service-images .ser {
  padding: 15px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.service-images .ser div {
  text-align: start;
  padding-left: 20px;
}
.service-images .ser div h3 {
  font-size: 20px;
  font-weight: 600;
}

.service-images .ser div p {
  font-size: 15px;
}
}
/* responsive tablet */
@media only screen and (min-device-width:768px) and (max-device-width:991px){
  header {
    padding: 15px 40px;
  }
  header div a {
    font-size: 25px;
  }
  header nav  a {
    padding-left: 20px;
    font-size: 14px;
  }
   header .menu-btn{
    font-size: 20px;
  }
  /* section 1 */
  .banner {
    padding: 80px 40px;
  }
  .banner div {
    padding-right: 300px;
  }
  .banner div h1 {
    font-size: 36px;
    line-height: 30px;
  }
  .banner div h1 span {
    font-size: 16px;
  }
  .banner div p {
    font-size: 14px;
    padding-bottom: 18px;
  }
  /* button */
  .btn {
    padding: 6px 12px;
    font-size: 16px;
  }
   /* ABOUT */

.about .about-wrap {
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-sec1 img {
  width: 260px;
  height: auto;
}
.about-sec2 {
  padding-left: 50px;
}
.about-sec2 h2 {
  font-size: 16px;
}
.about-sec2 h2 span {
  font-size: 24px;
}
.about-sec2 p {
  font-size: 14px;
  padding: 8px 0 18px;
}
/* service */
.service-wrap {
  padding: 60px 80px;
}
.service-content {
  padding-bottom: 16px;
}
.service-content h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.service-content h2 span {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 40px;
}
.service-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.service-images .ser {
  padding: 30px;
  display: flex;
  align-items: center;
}

.service-images .ser div {
  text-align: start;
  padding-left: 20px;
}
.service-images .ser div h3 {
  font-size: 20px;
  font-weight: 600;
  padding-right: 24px;
}

.service-images .ser div p {
  font-size: 15px;
}
}
/* phone */
@media only screen and (min-device-width:576px) and (max-device-width:767px){
  header {
    padding: 15px 20px;
  }
  header div a {
    font-size: 25px;
  }
  header nav  a {
    padding-left: 20px;
    font-size: 14px;
  }
   header .menu-btn{
    font-size: 20px;
  }
  /* section 1 */
  .banner {
    padding: 60px 20px;
  }
  .banner div {
    padding-right: 188px;
  }
  .banner div h1 {
    font-size: 30px;
    line-height: 28px;
  }
  .banner div h1 span {
    font-size: 14px;
  }
  .banner div p {
    font-size: 12px;
    padding-bottom: 14px;
  }
  /* button */
  .btn {
    padding: 4px 8px;
    font-size: 16px;
  }
   /* ABOUT */

.about .about-wrap {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-sec1 img {
  width: 240px;
  height: auto;
}
.about-sec2 {
  padding-left: 50px;
}
.about-sec2 h2 {
  font-size: 14px;
}
.about-sec2 h2 span {
  font-size: 20px;
}
.about-sec2 p {
  font-size: 12px;
  padding: 8px 0 14px;
}
}

@media only screen and (min-device-width:280px) and (max-device-width:575px){
  header {
    padding: 10px 10px;
  }
  header div a {
    font-size: 20px;
  }
  header nav  a {
    padding-left: 0;
    font-size: 12px;
    padding-bottom: 10px;
  }
  header nav a:nth-child(4){
    padding-bottom: 0;

  }
   header .menu-btn{
    font-size: 20px;
  }
  /* section 1 */
  .banner {
    padding: 40px 10px;
    text-align: center;
    background-position: left;

  }
  .banner div {
    padding-right: 0;
  }
  .banner div h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .banner div h1 span {
    font-size: 12px;
  }
  .banner div p {
    font-size: 10px;
    padding-bottom: 10px;
  }
  /* button */
  .btn {
    padding: 2px 4px;
    font-size: 10px;
  }
  header nav{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #22777d;
    text-align: start;
    top: 40px;
    left: 0;
    z-index: 1;
    padding: 20px;
  }
  header .menu-btn{
    display: block;
  }
  header nav.active{
    display: flex;
  }
   /* ABOUT */

.about .about-wrap {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about-sec1 img {
  width: 220px;
  height: auto;
}
.about-sec2 {
  padding-left: 0;
  text-align: center;
}
.about-sec2 h2 {
  font-size: 12px;
}
.about-sec2 h2 span {
  font-size: 18px;
}
.about-sec2 p {
  font-size: 10px;
  padding: 8px 0 10px;
}

/* service */
.service-wrap {
  padding: 20px 10px;
}
.service-content {
  padding-bottom: 16px;
}
.service-content h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.service-content h2 span {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 40px;
}
.service-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.service-images .ser {
  padding: 7px;
  margin: 4px;
  display: flex;
  align-items: center;
}

.service-images .ser div {
  text-align: start;
  padding-left: 20px;
}
.service-images .ser div h3 {
  font-size: 16px;
  font-weight: 600;
}

.service-images .ser div p {
  font-size: 15px;
}
/* .service-images {
 
} */
.service-images .ser {
  width: 100%;
  background-color: #e9f2f2;
  padding: 7px;
  margin: 8px 0;
  border: 1px solid #d3e3e4;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
.service-images img{
  height: 50px;
}
.contact-wrap h2 span {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 40px;
}
.contact-wrap {
  padding: 18px 0px;
  text-align: center;
}
.contact-sec2 {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}


.btn1 {
  background-color: #ffffff;
  color: #22777d;
  border-radius: 50px;
  padding: 10px 10px;
  border: 2px solid #ffffff;
  font-weight: 900;
  font-size: 14px;
}
.footer-sec1 a {
  color: #22777d;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
.footer-sec1 {
  text-align: center;
  padding: 18px 22px;
}
.footer-sec2{
  padding: 15px 20px;
}

